@page
@model Cinema.Areas.PurchaseReports.Pages.DetailsModel

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Отчёт по закупкам</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReport.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReport.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReport.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReport.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReport.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReport.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseReport.Department)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseReport.Department!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PurchaseReport?.Id">Редактировать</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
