@page "{id:long}"
@model Cinema.Areas.Session.Pages.DetailsModel

@{
    ViewData["Title"] = "Детали билета";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.RowNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.RowNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.SeatNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.SeatNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.IsBought)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.IsBought)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Session)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Session!.MovieName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket?.Id">Редактировать</a> |
    <a asp-page="./Index" asp-route-id="@Model.SessionId">Вернуться к списку</a>
</div>
