@page
@model Cinema.Areas.Orders.Pages.DetailsModel

@{
    ViewData["Title"] = "Детали заказа";
}

<h1>Детали</h1>

<div>
    <h4>Заказ</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.TicketId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.TicketId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Buyer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Buyer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.Id">Edit</a> |
    <a asp-page="./Index">Вернуться к списку</a>
</div>
